:root {
    --white: #ffffff;
    --grey: hsla(0, 0%, 7%, 0.5);
    --black: hsl(0, 0%, 7%, 0.95);
    --blue: hsl(220, 100%, 59%);
    --blue-link: hsl(220, 100%, 70%);
    --header-height: 5.625rem;
    --max-width: 1340px;
}

body {
    color: var(--white);
    background-color: var(--black);
    font-family: 'Bodoni Moda', serif;
}
.container {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo {
    width: 41px;
}
.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.header-list {
    display: none;
    list-style: none;
    column-gap: 2.5rem;
    font-size: 0.875rem;
}
.header-list-item:hover {
    cursor: pointer;
    color: var(--blue-link);
}
.header-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
}
.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}
.header-menu {
    width: 108px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-menu:after {
    content: '';
    height: var(--header-height);
    width: 108px;
    background-color: var(--blue);
    position: absolute;
    z-index: 10;
}

.header-search {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5rem;
}
.header-menu-icon,
.header-search-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.header-menu-icon {
    background: url(../images/menu.svg) no-repeat center;
    z-index: 20;
}
.header-search-icon {
    background: url(../images/search.svg) no-repeat center;
}
@media screen and (min-width: 48rem) {
    .header-list {
        display: flex;
    }
    .container,
    .header-content {
        padding-left: 2.5rem;
    }
}
@media screen and (min-width: 64rem) {
    .container {
        padding-left: 3.25rem;
    }
}
@media screen and (min-width: 90rem) {
    .header-search-icon {
        width: 1rem;
    }
    .main-title {
        font-size: 9rem;
        max-width: 530px;
    }
}
